@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

:root {
  --red: #335ed6;
  --dark-grey: rgb(42, 42, 42);
  --light-grey: rgb(27, 29, 34);
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: var(--red);
  color: white;
}

html,
body {
  font-family: "Fira Code", monospace;
  background-color: var(--dark-grey);
  color: white;

  height: 100%;
  position: relative;
}

header {
  display: flex;
  flex-direction: column;
  align-content: middle;
  text-align: center;
  margin: 0px 2rem 0px 1.5rem;
  flex-basis: 164px;
}

main {
  padding: 20px;
  max-width: 800px;
  animation: load_animation ease 0.7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

main h2 {
  margin-top: 35px;
  margin-bottom: 0.5rem;
}

a {
  color: var(--red);
  text-decoration: none;
}

a:hover {
  transition: filter 0.3s ease;
  filter: brightness(1.2);
}

p {
  font-size: 1.1rem;
}

pre code {
  background-color: var(--light-grey);
  color: white;
  border-radius: 0.5rem;

  display: block;
  padding: 20px;
  word-wrap: break-word;

  word-wrap: break-word;
  overflow-x: auto;

  /* Removes scrollbar from code box */
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
}

code {
  font-family: "Fira Code Retina", monospace;
  background-color: var(--light-grey);
  color: white;
  padding: 2px;
  word-wrap: break-word;
}

h1 {
  color: var(--red);
  font-size: 3rem;
  font-weight: 800;
  user-select: none;
  margin-top: 5px;
  margin-bottom: 20px;
}

.title {
  color: var(--red);
  font-size: 4rem;
  font-weight: 800;
  user-select: none;
  margin-top: 5px;
  margin-bottom: 20px;
}

.logo {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 120px;
  transition: 1s ease;
}

.logo:hover {
  transform: scale(1.05);
}

.menu {
  display: flex;
  flex-direction: column;
  padding-bottom: 1%;
}

a.menu-item {
  color: white;
  padding: 10px;
  font-size: 1.45rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

a.menu-item:hover {
  background-color: var(--red);
  transition: background-color 0.2s ease;
}

.footer {
  margin-top: auto;
}

.main-container {
  display: flex;
  min-height: 100vh;
  position: relative;
  padding-bottom: 30px;
}

.post .tag-list {
  padding-bottom: 0.5rem;
  display: inline-block;
}

.tag {
  color: whitesmoke;
  text-transform: capitalize;
  padding: 0.2rem;
  border-radius: 0.2rem;
  background-color: var(--light-grey);
}

.tag:hover {
  transition: background-color 0.3s ease;
  background-color: var(--red);
  color: white;
}

.post-date {
  display: inline-block;
  margin-bottom: 0.5rem;
  border-color: var(--light-grey);
  border-radius: 0.2rem;
  border-style: solid;
  border-width: 0.1rem;
  padding: 0.2rem;
}

main img {
  max-width: 100%;
  height: auto;
  border: 3px solid;
  border-color: #0256d3;
  border-radius: 0.1rem;
  padding: 0.5rem;
}

/* TODO: Notice blocks (Like quote blocks in Markdown) */

.notice {
}

.notice.green {
}

.notice.yellow {
}

.notice.red {
}

/*            */
/* Animations */
/*            */

@keyframes load_animation {
  0% {
    opacity: 0;
  }

  50%,
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 660px) {
  h1 {
    font-size: 60px;
  }

  header {
    margin: 0;
  }

  .menu {
    flex-direction: row;
    overflow-x: auto;
  }

  a.menu-item {
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .main-container {
    flex-direction: column;
  }

  .logo {
    padding-top: 1rem;
    margin-bottom: 2rem;
    width: 110px;
    transition: 1s ease;
  }

  .footer {
    display: none;
  }
}

.highlight {
  position: relative;
  background-color: var(--light-grey);
}

.highlight pre {
  padding-right: 0px;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.5rem;
}

.highlight-copy-btn {
  position: absolute;
  top: 7px;
  right: 7px;
  border: 0;
  border-radius: 4px;
  padding: 1px;
  font-size: 0.7em;
  line-height: 1.8;
  color: #fff;
  background-color: #777;
  min-width: 55px;
  text-align: center;
}

.highlight-copy-btn:hover {
  background-color: #666;
}
